{% extends "main.html" %}

{% block content %}

<div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Cheese Its</span>
								<ul>
									<li>1 7-oz box of Cheez-Its
									<li>6 Tbsp. butter, melted
									<li>1 1/2 tsp. garlic powder
									<li>1 1/2 tsp. onion powder
									<li>2 tbsp. chopped dill
									<li>2 tbsp. chopped parsley
								</ul>
								<ol>
									<li>Combine all ingredients in a large microwave-safe bowl, tossing until
									evenly coated.
									<li>Microwave on high 5 to 6 minutes, stirring every 1 1/2 to 2 minutes,
									until the butter mixture is absorbed by the crackers.
									<li>Spread crackers onto paper towels to drain. Let cool completely.
								</ol>
							</div>
						</div>
					</div>
				</div>
{% endblock %}
