{% extends "main.html" %}

{% block content %}
<div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Ritz</span>
								<ul>
									<li>6 RITZ Crackers
									<li>2 Tbsp. creamy peanut butter
									<li>12 raisins
									<li>3 maraschino cherries
									<li>6 pretzel twists, halved
								</ul>
								<ol>
									<li>Spread peanut butter on crackers for "reindeers' heads".
									<li>Add raisins for "eyes"
									<li>Cherry halves for "noses"
									<li>Pretzel twist pieces for "antlers"
								</ol>
							</div>
							</div>
							</div>
							</div>

							{% endblock %}
