<!DOCTYPE html>

<body>


<ul>
	<li>2 eggs
	<li>3/4 cup warm water
	<li>24 Triscuit Dill & Olive Oil Crackers 
	<li>1-1/2 cups seafood salad
	<li>24 fresh dill sprigs
</ul>
<ol>
	<li>Heat oven to 350&deg;F.
	<li>Whisk eggs and water in shallow dish until blended. Add
	6 crackers; press to evenly cover. Let stand 2 to 3 min. or until softened.
	Press 1 soaked cracker onto bottom and up side of 6 mini muffin pan cups
	sprayed with cooking spray.
	<li>Repeat with remaining crackers to make a total of 24 crusts.
	<li>Bake 25 min. Cool.
	<li>Fill cracker cups with salad just before serving. Top with dill.
</ol>

</body>